header h1{
    font-size:14px;
    text-align: center;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

.nav  ul{
    text-align: center;
    font-family: 'EB Garamond', serif;
}
.nav  ul li{
    display: inline-block;
    margin: 0 15px;
}

.nav  ul li > a{
    color: #555;
    text-decoration: none;
}

.title{
    font-size:16px;
    color: #333333;
    margin: 20px 10px 0 10px;
}

.main{
    background:#f9f9f9;
    min-height: 500px;
}

.topImg{
    text-align: center;
    margin:auto;
}

.topcontent{
    margin:0 20px;
    padding: 20px;
    text-align: left;
}

.topcontent img{
    width: 200px;
    margin: 0 10px;
}


/*プロフィール*/
.profile{
    width: 600px;
    text-align: left;
    margin: auto;
}