header h1{
    font-size:14px;
    text-align: center;
}

a:-webkit-any-link {
    cursor: pointer;
    text-decoration: underline;
}

.nav  ul{
    text-align: center;
    font-family: 'EB Garamond', serif;
}
.nav  ul li{
    display: inline-block;
    margin: 0 15px;
}

.nav  ul li > a{
    color: #555;
    text-decoration: none;
}

.title{
    font-size:16px;
    color: #333333;
    margin: 20px 10px 0 10px;
}

.main{
    background:#f9f9f9;
    min-height: 500px;
}


.topcontent img{
    height: 220px;
    margin: 0 10px;
}


/*プロフィール*/
.profile,.reportwarap,.workImg, .title,.topcontent,.topImg{
    width: 700px;
    text-align: left;
    margin: auto;
}

.title{
    margin-bottom: 5px;
    color: darkgray;
    font-size: 10px;
}

.workImg img{
    margin-bottom: 7px;
}

